// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.nav-tabs-blue {
	margin-top: 30px;
	border-bottom: 0;

	li>a,
	li>a:hover,
	li.active>a,
	li.active>a:hover {
		border: 0;
		margin: 0;
		border-radius: 0;
		color: #9d9d9d;
	}

	li>a {
		background: #e8e8e8;
	}

	li.active>a,
	li.active>a:hover {
		background: $brand-primary;
		color: #fff;
	}
}

.table-blue {
	thead>tr>th,
	thead>tr>td,
	tbody>tr>th,
	tbody>tr>td {
		padding-left: 20px;
		padding-right: 20px;
	}

	thead>tr>td {
		color: #fff;
		background: $brand-primary;
	}

	tbody>tr>th {
		color: #fff;
		background: darken($brand-primary, 10%);
		border: 0;
	}
}

.status-indicator {
	display: inline-block;
	text-align: center;
	border-radius: 15px;
	padding: 5px 10px;
	width: 75px;
	color: #fff;
}

.status-indicator-1 {
	background: #659330;
}

.status-indicator-2 {
	background: #d74456;
}

.status-indicator-3 {
	background: #9b9b9b;
}